.App {
  color: black;
  margin: auto;
  max-width: 800px;
}
.container {
  background-image: url("./background.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 30px;
  font-family: "PT Sans", sans-serif;
  margin: 50px auto 0;
  padding: 15px 40px 0;
  position: relative;
}
