.forecast {
  margin-bottom: 15px;
}
.weekday {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 15px;
  list-style: none;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
}
