.tomorrow {
  background: rgba(152, 185, 214, 0.5);
  border: 3px solid black;
  border-radius: 30px;
  font-size: 20px;
  margin: 0 2px;
  padding: 10px;
  text-align: center;
}
.col-sm {
  height: 100px;
  padding: 20px 0 20px;
}
.dateTomorrow,
.highLowTomorrow {
  margin-top: 25px;
}
